
.header{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: rgb(0 0 0 /15%) 0px 8px 24px;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 18px;
}

.header .container img{
  width: 90px;
}

.colors{
  color: var(--primary);
}

.btn-group{
  margin-right: 30px;
}
.cart-group{
  margin-right: 30px;
}

/* =========== CART AND PERSON CSS ========= */
#flex{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 20px;
}

/* ============ PERSON ICON =======*/
#image-group .person{
  font-size: 30px;
  cursor: pointer;
}

#image-group .person:hover{
  color: var(--primary);
}

.profile-group{
  border: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  padding: 5px 8px;
  text-align: center;
  position: absolute;
  top: 100px;
  right: 40px;
  width: 200px;
  display: none;
  animation: fadeIn .3s linear;
}

@keyframes fadeIn {
  0% {
    transform: translateY(10px);
  }
}

.profile-group.active{
  display: block;
}

.profile-group .p-name{
  color: #000;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}
.profile-group .account{
  margin: 8px 0;
  color: #000;
  text-align: center;
}
.profile-group .account a:hover{
  color: var(--primary);
  text-decoration: underline;
}

.profile-group .profile-btn, .logout-btn{
  display: inline-block;
  padding: 6px 20px;
  border-radius: 24px 4px;
  cursor: pointer;
}

.profile-group .profile-btn{
  background-color: var(--primary);
  color: #fff;
}
.profile-group .logout-btn{
  background-color: red;
  color: #fff;
}
.profile-btn:hover, .logout-btn:hover{
  box-shadow: 2px 2px 3px rgb(0,0,0,0.5);
}
/* ============ CART ICON ========*/
.cart-group{
  position: relative;
}

.cart-group .cart-icon{
  font-size: 25px;
  cursor: pointer;
}
.cart-group .cartQuantity{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: -12px;
}


.nav-menu{
  display: flex;
}

.nav-menu li{
  padding: 0 16px;
}

.nav-menu a{
  font-size: 16px;
  font-weight: 600;
  color: #333;
  position: relative;
}

.nav-menu a::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: .5s;
}

.nav-menu a:hover::after{
  width: 100%;
}

.hamburger{
  font-size: 30px;
  color: #333;
  display: none;
  margin-right: 10px;
}

@media screen and (max-width: 940px) {

  .header .container img{
    width: 60px;
  }

  .hamburger{
    display: block;
  }

  .nav-menu{
    display: block;
    background: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    padding-top: 80px;
    z-index: 2;
    transition: right .7s;
  }

  .nav-menu li{
    margin: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }

  .nav-menu .hamburger{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .header .btn{
    font-size: 14px;
    padding: 8px 16px;
  }
}


/* ========= HERO CSS ======== */

.hero .container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.text{
  margin: 10px 0 30px;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .market-place .container h1, .text{
    text-align: center;
  }

  .hero .container{
    padding: 50px 0;
  }
}


/* ============= COIN TABLE =========== */
.home-coin-card {
  padding: 50px 30px;
  border-bottom: 1px solid #eee;
}

.home-coin-card .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
}

.home-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #a09e9e;
  border-radius: 8px;
  min-height: 40px;
  padding: 0 10px;
}

.home-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  min-height: 50px;
  padding: 0 10px;
}

.home-card-item:hover {
  background-color: #eee;
}

.home-coin-img-container{
  display: flex;
  align-items: center;
}

#home-coin-img{
  width: 40px;
  margin-right: 10px;
}

.container h1,h2{
  margin-left: 10px;
  margin-bottom: 25px;
}

.container .table-btn{
  margin: 20px 0;
  text-align: center;
}

.title-name{
  padding-left: 40px;
}
.name{
  width: 20%;
  font-weight: 700;
}
.price{
  width: 12%;
  text-align: center;
}
.percent{
  text-align: end;
}

.market{
  width: 15%;
  text-align: end;
}

.percent1 {
  color: red;
}

.percent2 {
  color: limegreen;
}

@media screen and (max-width: 940px) {
  .home-coin-card{
    width: 100%;
    padding: 0 10px;
  }

  #home-coin-img{
    width: 25px;
  }

  .title-name{
    padding-left: 10px;
  }

  .p2,.p3,.mc{
    display: none;
  }

  .percent{
    text-align: center;
  }
}

/* ============= SINGLE PAGE INFO ======= */
.display{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 8, 6, 0.8);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.display-container{
  width: 50%;
  height: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close-icon{
  font-size: 18px;
  font-weight: 700;
  border: 1px solid var(--primary);
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  background-color: var(--primary);
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.open-display{
  visibility: visible;
  z-index: 10;
}

.item2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 30px;
}

.item1-percent{
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.item1-rank{
  width: fit-content;
  background-color: var(--primary);
  font-size: 12px;
  color: #fff;
  padding: 0 6px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.item2 .price-card{
  margin-bottom: 20px;
}

.coin-data{
  font-weight: 500;
  color: #a09e9e;
}

.symbol{
  color: #a09e9e;
  font-size: 16px;
}

@media screen and (max-width: 940px) {
  .display{
    padding: 20px;
  }
  .display-container{
    width: 100%;
  }

  .item2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 30px;
  }
}

/* ============= SLIDER CSS =========== */
.slider-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 16px;
}

.slider{
  position: relative;
  width: 50%;
  border-radius: 4px 24px;
  box-shadow: 2px 3px 10px rgb(0, 0, 0, .5);
  padding: 20px 10px;
}

.slider2{
  width: 50%;
  padding: 16px;
}

.slider2 p{
  margin: 24px 0;
  line-height: 1.5;
}

.slider img{
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: none;
  border-radius: 4px;
}

img.displaySlide{
  display: block;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  padding: 10px 15px;
  background-color: rgba(0,0,0,.5);
  color: var(--primary);
  border: none;
  cursor: pointer;
}

.prev{
  left: 5px;
}

.next{
  right: 5px;
}

@media screen and (max-width: 940px) {

  .slider-container{
    flex-direction: column;
    width: 100%;
  }

  .slider{
    width: 100%;
  }

  .slider2{
    width: 100%;
    padding: 10px;
  }

  .slider button{
    font-size: 20px;
    padding: 5px 10px;
  }
}


/* ============= FUNDING CSS ========== */
.funding{
  width: 100%;
  padding: 30px 16px;
  border-bottom: 1px solid #eee;
}

.funding .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;
}

.funding .left-side{
  justify-content: center;
  padding-bottom: 32px;
}

.funding .left-side p{
  margin: 24px 0;
  line-height: 1.5;
}

.funding .right-side{
  padding: 16px;
}

.funding .img-container{
  width: 100%;
  display: flex;
}

.funding img{
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width:940px) {

  .funding .container{
    grid-template-columns: 1fr;
    margin: 16px 0;
    padding: 10px;
  }
}


/* ============ CONTACT CSS ========== */
.contact .container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 30px 16px;
}

.contact .left-side{
  padding: 16px;
}

.contact .input-container{
  padding: 16px 0;
}

.contact .img-container{
  width: 100%;
  display: flex;
}

.contact img{
  max-width: 90%;
  margin: auto;
}

.contact .right-side{
  padding: 16px;
}

.contact p{
  margin: 16px 0;
}

@media screen and (max-width: 940px) {
  .contact .container{
    grid-template-columns: 1fr;
    margin: 16px 0;
    padding: 10px;
  }
}

/* ============= NEWSLETTER CSS ========= */
.container-p1{
  padding: 40px;
}

.container-m1{
  margin: 40px 0 0;
}

#newsletter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url("images/student8.jpg");
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

#newsletter h4{
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

#newsletter p{
  font-size: 15px;
  font-weight: 500;
  color: #a09e9e;
}

#newsletter p span{
  color: var(--primary);
}


/* ============ FOOTER CSS =========== */
.footer{
  background: var(--background);
  padding: 60px 40px;
}

.social-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.app{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.app img{
  margin: 10px;
  width: 100px;
}

.footer .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 16px;
}

.footer p{
  color: #5f5e5e;
  text-align: center;
}

.footer .col{
  display: flex;
  flex-direction: column;
}

.footer .bar {
  width: 30px;
  border-bottom: 4px solid var(--primary);
  margin: 12px 0;
}

.footer a{
  padding: 5px 0;
  font-size: 17px;
}

.footer .icon{
  color: #303030;
  margin-left: 5px;
}

.footer h5{
  margin-top: 32px;
}

@media screen and (max-width: 940px) {

  .footer{
    padding: 60px 10px;
  }

  .footer .container{
    grid-template-columns: repeat(2, 1fr);
  }

  .app img{
    width: 90px;
  }
}


